
.main-container{
   display: grid;
   grid-template-rows: 5.2% 1fr 6%;
   height: 100vh;
   background-color: rgb(27, 28, 29)
}

.home-container{
   padding: 0 !important;
   height: 100%
}
.side-bar-menu{
   grid-row: 2/4;
   z-index: 2;
   position: relative;
}
.main-map{
   height: 100%;
   grid-row: 2;
   position: relative;
   z-index: 1;
}

.home{
   grid-row: 2;
   display: grid;
   height: 100%;
   background-color: black;
}


.search-bar{
   grid-row: 1;
   height: 5%;
   z-index: 2;
}

.location-box-cover{
   width: 100%;
   height: 100%;
}

.search-map{
   display: flex;
   flex-direction: column;
   height: 100%;
   grid-template-rows: 10% 90%;
   position: relative;
   z-index: 1;
}

.nav-bar{
   grid-row: 1;
}

.ui.menu {
  border: 0 none !important;
  border-radius: 0 !important;
  box-shadow: none;

}

.custom-style{
   width: 100%;
   height: 110%;
   border: 0px;
   padding: 0px;
   border-radius: 2%;
   padding-left: 4%;
}

.custom-style-list{
   border: solid;
   height: 7vh;
   border-width: 1px;
   background: white;
   display: flex;
   align-items: center;
}

#navvy{
   background-color: rgb(27, 28, 29);
   color: white;
   margin-bottom: 0px !important;
}

.course-links{
   display: flex;
   justify-content: space-between;
}
