body{
   margin: 0%;
   }

.main-map{
   height: 95%;
   width: 100vw;
   grid-row: 2;
   position: relative;
   z-index: 1;
}

.home{
   display: grid;
   grid-template-rows: 5% 1fr 6%;
   height: 100vh;
   /* background-color: black; */
}

.nav-bar{
   grid-row: 1;
   color: gray;
   text-align: center;
}

.course-marker{
   width: 10px;
}

.search-bar{
   grid-row: 2;
   height: 5%;
   position: relative;
   z-index: 2;

}

.location-box-cover{
   width: 100%;
   height: 100%;
}

.autocomplete-dropdown-container{
   grid-row:2;
}

.search-map{
   display: flex;
   flex-direction: column;
   border-top: solid;
   border-width: thin;
}

/* .search-bar-div{
   height: 10%;
} */

.custom-style{
   width: 100%;
   height: 100%;
}

.custom-style-list{
   border: solid;
   height: 5vh;
   border-width: 1px;
   background: white;
   display: flex;
   align-items: center;
}
